<ng-container [ngSwitch]="stepperOrientation | async">
</ng-container>
<mat-stepper class="example-stepper" [orientation]="(stepperOrientation | async)!" linear>
  <mat-step label="Datos Personales" [stepControl]="personal.myForm">
    <app-personal-data #personal (itemEvent)="setPersonalForm($event)"></app-personal-data>
  </mat-step>
  <mat-step label="Datos del vehículo" [stepControl]="vehicle.myForm">
    <app-vehicle-data #vehicle (itemEvent)="setVehicleForm($event)"></app-vehicle-data>
  </mat-step>
  <mat-step label="Coberturas disponibles" [completed]="coverage.coverageSelected != null">
    <app-coverage-available #coverage (itemEvent)="setCoverageForm($event)"></app-coverage-available>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Resumen</ng-template>
    <app-summary-form [personalDataForm]="personalForm"
                      [vehicleDataForm]="vehicleForm"
                      [coverageDataForm]="coverageForm">
    ></app-summary-form>
  </mat-step>
</mat-stepper>